@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html { -webkit-box-sizing: border-box; box-sizing: border-box; }

* { -webkit-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; box-sizing: border-box; }

@font-face { font-family: "svgfont"; src: url("fonts/svgfont.eot"); src: url("fonts/svgfont.eot?#iefix") format("eot"), url("fonts/svgfont.woff") format("woff"), url("fonts/svgfont.woff2") format("woff2"), url("fonts/svgfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
.icon, [class^="icon-"], [class*=" icon-"] { font-family: "svgfont"; font-style: normal; font-weight: normal; text-rendering: auto; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon, [class^="icon-"], [class*=" icon-"] { display: inline-block; }

.icon-sepa:before { content: ""; }

.icon-skrill:before { content: ""; }

@font-face { font-family: ProximaNova-Bold; src: url("fonts/ProximaNova-Bold.eot"); src: url("fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/ProximaNova-Bold.woff2") format("woff2"), url("fonts/ProximaNova-Bold.woff") format("woff"), url("fonts/ProximaNova-Bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: ProximaNova-Semibold; src: url("fonts/ProximaNova-Semibold.eot"); src: url("fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("fonts/ProximaNova-Semibold.woff2") format("woff2"), url("fonts/ProximaNova-Semibold.woff") format("woff"), url("fonts/ProximaNova-Semibold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
body { font-family: "PT Serif Caption", serif; font-size: 17px; line-height: 1.4; color: #3e3e3e; }
body.fixed { overflow: hidden !important; }

p { line-height: 2; }

.h2, .h3, .h4 { position: relative; text-transform: uppercase; color: #3e3e3e; font-family: "ProximaNova-Bold"; font-weight: normal; font-style: normal; letter-spacing: 4px; }
.h2 span, .h3 span, .h4 span { color: #a31313; }

.h2 { font-size: 28px; margin-bottom: 50px; }

.h3 { font-size: 24px; margin-bottom: 30px; }

.h4 { font-size: 18px; margin-bottom: 30px; }

.row { font-size: 0; }

.col-4, .col-6 { display: inline-block; vertical-align: middle; font-size: 14px; }

.col-4 { width: 25%; }

.col-6 { width: 50%; }

.select { position: relative; display: inline-block; cursor: pointer; font-size: 12px; }
.select select { position: absolute; opacity: 0; }

.select__text { position: relative; height: 46px; padding-right: 40px; line-height: 44px; color: #8f8e8e; font-family: "ProximaNova-Semibold"; font-weight: normal; font-style: normal; border: 2px solid #d0cfcf; text-transform: uppercase; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.select__text span { float: left; height: 42px; border-right: 2px solid #d0cfcf; padding: 0 16px; }
.select__text span:last-child { min-width: 80px; }
.select__text:after { content: ""; position: absolute; right: 15px; top: 50%; margin-top: -3px; width: 0px; height: 0px; border-style: solid; border-width: 6px 5.5px 0 5.5px; border-color: #8f8e8e transparent transparent transparent; }

.select__list { position: absolute; display: none; left: 0; right: 0; top: 100%; z-index: 100; border: 2px solid #d0cfcf; border-top: 0; max-height: 200px; overflow-x: hidden; overflow-y: auto; background: #fff; }
.select__list li { padding: 5px 11px; cursor: pointer; line-height: 1; color: #8f8e8e; font-family: "ProximaNova-Semibold"; font-weight: normal; font-style: normal; }
.select__list li:hover { background: #717791; color: #fff; }

.slick-slider { position: relative; display: block; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white slick-image-url("ajax-loader.gif") center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { display: block; max-width: 100%; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-prev, .slick-next { position: absolute; bottom: -100px; font: 0/0 a; text-shadow: none; color: transparent; background: none; opacity: 0.36; -webkit-transition: opacity 200ms; transition: opacity 200ms; }
.slick-prev:hover, .slick-next:hover { opacity: 1; }
.slick-prev:focus, .slick-next:focus { outline: none; }
.slick-prev.slick-disabled, .slick-next.slick-disabled { opacity: 0.2; }

.slick-prev { left: 0; background-image: url("../img/icons.png"); width: 62px; height: 61px; background-position: -66px 0px; }

.slick-next { left: 100px; background-image: url("../img/icons.png"); width: 62px; height: 61px; background-position: 0px 0px; }

.slick-dots { text-align: center; position: absolute; margin: 0; top: 50%; right: 40px; -webkit-transform: translate3d(0, -50%, 0); transform: translate3d(0, -50%, 0); }
.slick-dots li { position: relative; padding: 7px 0; }
.slick-dots li.slick-active button { background: #bf2931; }
.slick-dots li:before { display: none; }
.slick-dots button { display: block; width: 14px; height: 14px; background: #1e1e1e; cursor: pointer; font: 0/0 a; text-shadow: none; color: transparent; -webkit-border-radius: 50%; border-radius: 50%; }
.slick-dots button:hover { -webkit-box-shadow: none; box-shadow: none; }

html.fp-enabled, .fp-enabled body { margin: 0; padding: 0; overflow: hidden; -webkit-tap-highlight-color: transparent; }

#superContainer { height: 100%; position: relative; -ms-touch-action: none; touch-action: none; }

.fp-section { position: relative; -webkit-box-sizing: border-box; box-sizing: border-box; }

.fp-slide { float: left; height: 100%; display: block; }

.fp-slidesContainer { height: 100%; display: block; }

.fp-slides { z-index: 1; height: 100%; overflow: hidden; position: relative; -webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */ transition: all 0.3s ease-out; }

.fp-section.fp-table, .fp-slide.fp-table { display: table; table-layout: fixed; width: 100%; }

.fp-tableCell { position: relative; display: table-cell; vertical-align: middle; width: 100%; height: 100%; }

.fp-slidesContainer { float: left; position: relative; }

.fp-controlArrow { position: absolute; z-index: 4; top: 50%; cursor: pointer; width: 0; height: 0; border-style: solid; margin-top: -38px; -webkit-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.fp-controlArrow.fp-prev { left: 15px; width: 0; border-width: 38.5px 34px 38.5px 0; border-color: transparent #fff transparent transparent; }
.fp-controlArrow.fp-next { right: 15px; border-width: 38.5px 0 38.5px 34px; border-color: transparent transparent transparent #fff; }

.fp-scrollable { overflow: scroll; }

.fp-notransition { -webkit-transition: none !important; transition: none !important; }

#fp-nav { position: fixed; z-index: 100; margin-top: -32px; top: 50%; opacity: 1; -webkit-transform: translate3d(0, 0, 0); }
#fp-nav.right { right: 17px; }
#fp-nav.left { left: 17px; }

.fp-slidesNav { position: absolute; z-index: 4; left: 50%; opacity: 1; }
.fp-slidesNav.bottom { bottom: 17px; }
.fp-slidesNav.top { top: 17px; }

#fp-nav ul, .fp-slidesNav ul { margin: 0; padding: 0; }

#fp-nav ul li { display: block; width: 14px; height: 13px; margin: 7px; position: relative; }

.fp-slidesNav ul li { display: block; width: 14px; height: 13px; margin: 7px; position: relative; display: inline-block; }

#fp-nav ul li a, .fp-slidesNav ul li a { display: block; position: relative; z-index: 1; width: 100%; height: 100%; cursor: pointer; text-decoration: none; }

#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span { height: 12px; width: 12px; margin: -6px 0 0 -6px; -webkit-border-radius: 100%; border-radius: 100%; }

#fp-nav ul li a span, .fp-slidesNav ul li a span { -webkit-border-radius: 50%; border-radius: 50%; position: absolute; z-index: 1; height: 4px; width: 4px; border: 0; background: #333; left: 50%; top: 50%; margin: -2px 0 0 -2px; -webkit-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; }

#fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span { width: 10px; height: 10px; margin: -5px 0px 0px -5px; }

#fp-nav ul li .fp-tooltip { position: absolute; top: -2px; color: #fff; font-size: 14px; font-family: arial, helvetica, sans-serif; white-space: nowrap; max-width: 220px; overflow: hidden; display: block; opacity: 0; width: 0; }
#fp-nav ul li:hover .fp-tooltip { -webkit-transition: opacity 0.2s ease-in; transition: opacity 0.2s ease-in; width: auto; opacity: 1; }
#fp-nav.fp-show-active a.active + .fp-tooltip { -webkit-transition: opacity 0.2s ease-in; transition: opacity 0.2s ease-in; width: auto; opacity: 1; }
#fp-nav ul li .fp-tooltip.right { right: 20px; }
#fp-nav ul li .fp-tooltip.left { left: 20px; }

.fp-auto-height.fp-section, .fp-auto-height .fp-slide, .fp-auto-height .fp-tableCell { height: auto !important; }
.header { position: fixed; top: 0; left: 0; right: 0; height: 68px; background: #f7f7f9; text-align: center; font-size: 0; z-index: 9; }

.home { position: absolute; top: 50%; left: 20px; width: 20px; height: 20px; margin-top: -10px; -webkit-border-radius: 50%; border-radius: 50%; background: #bf2931; }

.topper { height: 100vh; }

.menu { display: inline-block; font-size: 0; }
.menu li { display: inline-block; vertical-align: middle; padding: 22px; }
.menu li a { font-family: "ProximaNova-Semibold"; font-weight: normal; font-style: normal; text-transform: uppercase; font-size: 14px; text-decoration: none; color: #212121; -webkit-transition: color 300ms; transition: color 300ms; }
.menu li a:hover { color: #bf2931; }
.menu li.active a { color: #bf2931; }

.buy-btn { position: absolute; top: 0; right: 0; height: 68px; padding: 0 22px; vertical-align: middle; background: #1e1e1e; color: #fff; text-transform: uppercase; font-size: 14px; font-family: "ProximaNova-Bold"; font-weight: normal; font-style: normal; }

.banners { position: absolute; top: 0; bottom: 0; right: 0; left: 0; }

.banner { position: relative; height: 100vh; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }

.logo-wrap { position: absolute; top: 50%; left: 50%; max-width: 60%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); text-align: center; z-index: 2; }

.logo { display: inline-block; opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); -webkit-transition: -webkit-transform 300ms, opacity 300ms; transition: transform 300ms, opacity 300ms; }
.logo img { display: block; width: 100%; }
.logo.is-visible { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }

.scroll-down { position: absolute; bottom: 96px; left: 50%; background: none; opacity: 0; -webkit-transform: translate3d(-50%, 40px, 0); transform: translate3d(-50%, 40px, 0); -webkit-transition: -webkit-transform 300ms 400ms, opacity 300ms 400ms; transition: transform 300ms 400ms, opacity 300ms 400ms; }
.scroll-down:before { content: ""; position: absolute; top: 50%; left: 50%; width: 2px; height: 2px; -webkit-border-radius: 50%; border-radius: 50%; -webkit-box-shadow: 0 0 50px 50px rgba(255, 255, 255, 0.84); box-shadow: 0 0 50px 50px rgba(255, 255, 255, 0.84); z-index: 0; }
.scroll-down img { position: relative; }
.scroll-down.is-visible { opacity: 1; -webkit-transform: translate3d(-50%, 0, 0); transform: translate3d(-50%, 0, 0); }

.about { padding-top: 68px; text-align: center; font-size: 0; height: 100vh; background: #f2ebe5; }
.about:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.about > .center { text-align: left; }
.about .about__info { position: relative; text-align: center; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); z-index: 2; }
.about .about__info .title { opacity: 0; -webkit-transform: translateY(20px); -ms-transform: translateY(20px); transform: translateY(20px); -webkit-transition: -webkit-transform 300ms 400ms, opacity 300ms 400ms; transition: transform 300ms 400ms, opacity 300ms 400ms; }
.about .about__info .title.is-visible { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
.about .about__info .h2 { opacity: 0; -webkit-transform: translateY(40px); -ms-transform: translateY(40px); transform: translateY(40px); -webkit-transition: -webkit-transform 300ms 200ms, opacity 300ms 200ms; transition: transform 300ms 200ms, opacity 300ms 200ms; }
.about .about__info .h2.is-visible { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
.about .about__info p { opacity: 0; -webkit-transform: translateY(60px); -ms-transform: translateY(60px); transform: translateY(60px); -webkit-transition: -webkit-transform 300ms, opacity 300ms; transition: transform 300ms, opacity 300ms; }
.about .about__info p.is-visible { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }

.center { display: inline-block; vertical-align: middle; width: 100%; max-width: 1180px; font-size: 14px; margin: 0 auto; }

.title { font-family: "ProximaNova-Bold"; font-weight: normal; font-style: normal; margin-bottom: 35px; letter-spacing: 2px; text-transform: uppercase; color: #a60000; text-transform: uppercase; }

.rings { position: relative; text-align: left; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); z-index: 1; opacity: 0; -webkit-transform: scale(0.7); -ms-transform: scale(0.7); transform: scale(0.7); -webkit-transition: -webkit-transform 300ms 600ms, opacity 300ms 600ms; transition: transform 300ms 600ms, opacity 300ms 600ms; }
.rings:before { content: ""; position: absolute; top: 10%; bottom: 10%; right: 10%; left: 10%; -webkit-border-radius: 50%; border-radius: 50%; background: #fff; -webkit-box-shadow: 0 0 150px 150px #fff; box-shadow: 0 0 150px 150px #fff; z-index: 0; }
.rings img { position: relative; display: block; width: 100%; }
.rings.is-visible { opacity: 1; -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }

.benefits { height: 100vh; padding-top: 68px; text-align: center; font-size: 0; }
.benefits:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.benefits .benefits__list { *zoom: 1; }
.benefits .benefits__list:after { content: " "; display: table; clear: both; }

.benefit { float: left; width: 25%; padding: 0 10px; opacity: 0; }
.benefit:first-child { -webkit-transform: translateX(-100px); -ms-transform: translateX(-100px); transform: translateX(-100px); -webkit-transition: opacity 300ms 200ms, -webkit-transform 300ms 200ms; transition: opacity 300ms 200ms, transform 300ms 200ms; }
.benefit:nth-child(2) { -webkit-transform: translateX(-50px); -ms-transform: translateX(-50px); transform: translateX(-50px); -webkit-transition: opacity 300ms, -webkit-transform 300ms; transition: opacity 300ms, transform 300ms; }
.benefit:nth-child(3) { -webkit-transform: translateX(50px); -ms-transform: translateX(50px); transform: translateX(50px); -webkit-transition: opacity 300ms, -webkit-transform 300ms; transition: opacity 300ms, transform 300ms; }
.benefit:nth-child(4) { -webkit-transform: translateX(100px); -ms-transform: translateX(100px); transform: translateX(100px); -webkit-transition: opacity 300ms 200ms, -webkit-transform 300ms 200ms; transition: opacity 300ms 200ms, transform 300ms 200ms; }
.benefit.is-visible { opacity: 1; -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); }
.benefit .benefit__img { width: 215px; height: 215px; margin: 0 auto 60px; overflow: hidden; -webkit-border-radius: 50%; border-radius: 50%; }
.benefit .benefit__img img { width: 100%; height: 100%; -webkit-border-radius: 50%; border-radius: 50%; }
.benefit .title { margin-bottom: 25px; font-size: 10px; }
.benefit .h4:after { content: ""; position: absolute; bottom: -18px; left: 50%; margin-left: -2px; width: 4px; height: 4px; -webkit-border-radius: 50%; border-radius: 50%; background: #a60000; }

.price { height: 100vh; padding-top: 68px; text-align: center; font-size: 0; background: url(../img/price-bg.jpg); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
.price:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.price .price__in { *zoom: 1; }
.price .price__in:after { content: " "; display: table; clear: both; }

.card { display: inline-block; vertical-align: top; margin-left: 100px; width: 520px; padding: 38px 45px 45px; background: #fff; font-size: 0; text-align: center; opacity: 0; -webkit-transform: scale(0.7); -ms-transform: scale(0.7); transform: scale(0.7); }
.card:first-child { margin-left: 0; -webkit-transition: opacity 300ms, -webkit-transform 300ms; transition: opacity 300ms, transform 300ms; }
.card:nth-child(2) { -webkit-transition: opacity 300ms 300ms, -webkit-transform 300ms 300ms; transition: opacity 300ms 300ms, transform 300ms 300ms; }
.card.is-visible { opacity: 1; -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
.card .card__img { width: 200px; display: inline-block; }
.card .card__img img { display: block; width: 100%; }
.card .card__list { margin-bottom: 28px; }
.card .card__list li { margin-bottom: 10px; font-style: italic; font-size: 16px; color: #7a7a7a; }
.card .card__list li strong { display: inline-block; margin-right: 8px; font-family: "ProximaNova-Bold"; font-weight: normal; font-style: normal; color: #1e1e1e; }
.card .card__params { text-align: center; font-size: 0; margin-bottom: 25px; }
.card .card__params .select { margin: 0 10px; }
.card .card__price { margin-bottom: 25px; font-style: italic; font-size: 24px; color: #2a2a2a; }

.btn { width: 102px; height: 102px; -webkit-border-radius: 50%; border-radius: 50%; background: #1e1e1e; vertical-align: middle; text-align: center; font-size: 16px; text-transform: uppercase; font-family: "ProximaNova-Bold"; font-weight: normal; font-style: normal; color: #fff; }

.delivery { position: relative; max-width: 1180px; margin: 0 auto; text-align: center; height: 100vh; padding-top: 68px; text-align: center; font-size: 0; }
.delivery:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.delivery .center { width: 100%; }
.delivery .title { margin-bottom: 75px; }
.delivery .delivery__list { *zoom: 1; margin-top: 85px; }
.delivery .delivery__list:after { content: " "; display: table; clear: both; }
.delivery .delivery__list:first-child { margin-top: 0; }
.delivery .delivery__list:first-child .delivery__item:first-child { -webkit-transform: translate(-40px, -40px); -ms-transform: translate(-40px, -40px); transform: translate(-40px, -40px); }
.delivery .delivery__list:first-child .delivery__item:first-child.is-visible { opacity: 1; -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); }
.delivery .delivery__list:first-child .delivery__item:last-child { -webkit-transform: translate(40px, -40px); -ms-transform: translate(40px, -40px); transform: translate(40px, -40px); }
.delivery .delivery__list:first-child .delivery__item:last-child.is-visible { opacity: 1; -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); }
.delivery .delivery__list:nth-child(2) .delivery__item:first-child { -webkit-transform: translate(-40px, 40px); -ms-transform: translate(-40px, 40px); transform: translate(-40px, 40px); }
.delivery .delivery__list:nth-child(2) .delivery__item:first-child.is-visible { opacity: 1; -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); }
.delivery .delivery__list:nth-child(2) .delivery__item:last-child { -webkit-transform: translate(40px, 40px); -ms-transform: translate(40px, 40px); transform: translate(40px, 40px); }
.delivery .delivery__list:nth-child(2) .delivery__item:last-child.is-visible { opacity: 1; -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); }
.delivery .delivery__item { position: relative; float: left; width: 50%; opacity: 0; -webkit-transition: opacity 300ms, -webkit-transform 300ms; transition: opacity 300ms, transform 300ms; }
.delivery .delivery__item:first-child:after { content: ""; position: absolute; top: 50%; right: 0; height: 92px; margin-top: -46px; width: 2px; background: #d0cfcf; }
.delivery .delivery__item p { max-width: 240px; margin: 0 auto; font-size: 18px; line-height: 1.4; }
.delivery .delivery__tag { position: relative; margin-bottom: 28px; font-size: 12px; color: #8a8989; text-transform: uppercase; font-family: "ProximaNova-Semibold"; font-weight: normal; font-style: normal; }
.delivery .delivery__tag:after { content: ""; position: absolute; bottom: -18px; left: 50%; margin-left: -2px; width: 4px; height: 4px; -webkit-border-radius: 50%; border-radius: 50%; background: #a60000; }

.feedback { position: relative; height: 100vh; padding-top: 68px; text-align: center; background: #f2ebe5; text-align: center; font-size: 0; }
.feedback:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.feedback .title { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); -webkit-transition: opacity 300ms, -webkit-transform 300ms; transition: opacity 300ms, transform 300ms; }
.feedback .title.is-visible { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
.feedback .feedback__in { *zoom: 1; }
.feedback .feedback__in:after { content: " "; display: table; clear: both; }
.feedback .feedback__img { width: 48%; float: left; padding-right: 5%; text-align: right; font-size: 0; opacity: 0; -webkit-transform: scale(0.7); -ms-transform: scale(0.7); transform: scale(0.7); -webkit-transition: opacity 300ms 400ms, -webkit-transform 300ms 400ms; transition: opacity 300ms 400ms, transform 300ms 400ms; }
.feedback .feedback__img.is-visible { opacity: 1; -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
.feedback .feedback__img img { width: 450px; max-width: 100%; -webkit-border-radius: 50%; border-radius: 50%; }

.comments { position: relative; width: 52%; float: left; text-align: left; opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); -webkit-transition: opacity 300ms, -webkit-transform 300ms; transition: opacity 300ms, transform 300ms; }
.comments.is-visible { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
.comments .comments__item { font-size: 19px; }
.comments .comments__author { padding-top: 45px; font-style: italic; font-size: 23px; }
.comments .comments__counter { position: absolute; bottom: -84px; left: 60px; width: 40px; text-align: center; font-size: 18px; color: #a60000; font-family: "ProximaNova-Bold"; font-weight: normal; font-style: normal; }

.history { position: relative; height: 100vh; max-width: 1180px; margin: 0 auto; padding-top: 68px; text-align: center; text-align: center; font-size: 0; }
.history:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.history .title { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); -webkit-transition: opacity 300ms, -webkit-transform 300ms; transition: opacity 300ms, transform 300ms; }
.history .title.is-visible { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
.history .history__in { position: relative; *zoom: 1; }
.history .history__in:after { content: " "; display: table; clear: both; }
.history .history__item { position: relative; float: left; width: 50%; padding: 0 120px; opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); -webkit-transition: opacity 300ms 400ms, -webkit-transform 300ms 400ms; transition: opacity 300ms 400ms, transform 300ms 400ms; }
.history .history__item.is-visible { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
.history .history__item p { font-size: 18px; line-height: 1.8; }
.history .history__item:before { content: ""; position: absolute; bottom: 50px; left: 0; height: 92px; width: 2px; background: #d0cfcf; }
.history .history__item:first-child { -webkit-transition: opacity 300ms 200ms, -webkit-transform 300ms 200ms; transition: opacity 300ms 200ms, transform 300ms 200ms; }
.history .history__item:first-child:before { top: 50px; bottom: auto; right: 0; left: auto; }

.round { display: inline-block; width: 4px; height: 4px; margin: 10px 0; -webkit-border-radius: 50%; border-radius: 50%; background: #a60000; }

.buy { position: relative; height: 100vh; background: url(../img/wall.jpg); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
.buy .btn-round { position: absolute; top: 50%; left: 50%; width: 236px; height: 236px; margin: -123px 0 0 -109px; -webkit-border-radius: 50%; border-radius: 50%; background: #a60000; vertical-align: middle; text-align: center; font-family: "ProximaNova-Bold"; font-weight: normal; font-style: normal; text-transform: uppercase; color: #f5f5f7; font-size: 32px; opacity: 0; -webkit-transform: scale(0.7); -ms-transform: scale(0.7); transform: scale(0.7); -webkit-transition: opacity 300ms, -webkit-transform 300ms; transition: opacity 300ms, transform 300ms; }
.buy .btn-round.is-visible { opacity: 1; -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }

.contacts { position: relative; height: 100vh; }

.map { position: absolute; top: 0; left: 0; right: 0; bottom: 260px; }

.map-popup { position: absolute; top: 170px; left: 50%; width: 385px; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); background: #fff; padding: 25px 15px; text-align: center; font-size: 18px; color: #2a2a2a; line-height: 1.4; opacity: 0; -webkit-transform: scale(0.7) translateX(-50%); -ms-transform: scale(0.7) translateX(-50%); transform: scale(0.7) translateX(-50%); -webkit-transition: opacity 300ms, -webkit-transform 300ms; transition: opacity 300ms, transform 300ms; }
.map-popup.is-visible { opacity: 1; -webkit-transform: scale(1) translateX(-50%); -ms-transform: scale(1) translateX(-50%); transform: scale(1) translateX(-50%); }
.map-popup p { line-height: 1.4; margin-top: 20px; }
.map-popup .map-popup__topper { font-family: "ProximaNova-Bold"; font-weight: normal; font-style: normal; text-transform: uppercase; }

#map-canvas { position: absolute; top: 0; bottom: 0; right: 0; left: 0; }

.footer { position: absolute; bottom: 0; right: 0; left: 0; height: 260px; padding: 55px 0 60px; background: #1e1e1e; }
.footer .footer__in { max-width: 1180px; margin: 0 auto; *zoom: 1; }
.footer .footer__in:after { content: " "; display: table; clear: both; }
.footer .footer__left { float: left; margin-right: 7%; }
.footer .footer__logo { display: inline-block; margin-bottom: 80px; }
.footer .footer__list { float: left; margin-right: 5%; }
.footer .footer__list ul li { margin-bottom: 40px; }
.footer .footer__list ul li a { font-family: "ProximaNova-Semibold"; font-weight: normal; font-style: normal; text-transform: uppercase; color: #fff; font-size: 13px; text-decoration: none; }

.socials { font-size: 0; text-align: right; }
.socials li { display: inline-block; vertical-align: middle; margin-left: 22px; }

.icon-instagram { display: inline-block; vertical-align: middle; background-image: url("../img/icons.png"); width: 20px; height: 21px; background-position: -82px -65px; }

.icon-fb { display: inline-block; vertical-align: middle; background-image: url("../img/icons.png"); width: 11px; height: 21px; background-position: -106px -65px; }

.icon-vk { display: inline-block; vertical-align: middle; background-image: url("../img/icons.png"); width: 28px; height: 21px; background-position: -50px -65px; }

.authors { float: right; }
.authors .authors__labels { font-size: 0; margin-bottom: 35px; }
.authors .authors__labels a { display: inline-block; vertical-align: top; margin-left: 55px; }
.authors .copyrights { padding-right: 18px; text-align: right; }
.authors .copyrights a { font-family: "ProximaNova-Semibold"; font-weight: normal; font-style: normal; color: #fff; text-transform: uppercase; text-decoration: none; }

.overlay { position: fixed; top: 0; bottom: 0; right: 0; left: 0; padding: 20px 0; background: rgba(255, 255, 255, 0.56); overflow-y: auto; text-align: center; font-size: 0; z-index: 99; }
.overlay:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.overlay .overlay__close { position: absolute; top: 0; bottom: 0; right: 0; left: 0; z-index: 1; }

.modal { position: relative; display: inline-block; vertical-align: middle; width: 1100px; background: #fff; padding: 80px 100px; -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.3); box-shadow: 0 0 16px rgba(0, 0, 0, 0.3); font-size: 16px; text-align: left; opacity: 0; -webkit-transform: scale(0.7); -ms-transform: scale(0.7); transform: scale(0.7); -webkit-transition: opacity 300ms, -webkit-transform 300ms, height 300ms; transition: opacity 300ms, transform 300ms, height 300ms; z-index: 9; }
.modal.is-open { opacity: 1; -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
.modal .modal__close { position: absolute; top: 30px; right: 30px; background: none; background-image: url("../img/icons.png"); width: 46px; height: 47px; background-position: 0px -65px; }

.thanks { text-align: center; }
.thanks .h3 { font-size: 23px; }
.thanks .h4 { font-size: 20px; }
.thanks p { font-style: italic; color: #7e0202; font-size: 22px; line-height: 1.4; }

.form { *zoom: 1; }
.form:after { content: " "; display: table; clear: both; }
.form .form__right { overflow: hidden; }
.form .form__left { float: left; width: 340px; margin-right: 90px; }
.form .form__row { display: block; margin-top: 42px; }
.form .form__row:first-child { margin-top: 0; }

.input, .textarea { width: 100%; height: 46px; border: 2px solid #d0cfcf; padding: 0 23px; font-family: "ProximaNova-Bold"; font-weight: normal; font-style: normal; font-size: 14px; text-transform: uppercase; }
.input::-webkit-input-placeholder, .textarea::-webkit-input-placeholder { font-size: 12px; text-transform: uppercase; color: #8f8e8e; font-family: "ProximaNova-Semibold"; font-weight: normal; font-style: normal; }
.input::-moz-placeholder, .textarea::-moz-placeholder { font-size: 12px; text-transform: uppercase; color: #8f8e8e; font-family: "ProximaNova-Semibold"; font-weight: normal; font-style: normal; }
.input:-ms-input-placeholder, .textarea:-ms-input-placeholder { font-size: 12px; text-transform: uppercase; color: #8f8e8e; font-family: "ProximaNova-Semibold"; font-weight: normal; font-style: normal; }
.input::placeholder, .textarea::placeholder { font-size: 12px; text-transform: uppercase; color: #8f8e8e; font-family: "ProximaNova-Semibold"; font-weight: normal; font-style: normal; }

.textarea { resize: none; height: 180px; padding: 15px 23px; }

.item { *zoom: 1; }
.item:after { content: " "; display: table; clear: both; }
.item .item__img { float: left; width: 100px; margin-right: 30px; }
.item .item__img img { display: block; width: 100%; }
.item .item__title { margin-bottom: 20px; padding-top: 5px; font-size: 18px; text-transform: uppercase; font-family: "ProximaNova-Bold"; font-weight: normal; font-style: normal; color: #2a2a2a; }

.order-btn-wrap button { max-width: 100%; }

.quantity { margin: 15px 0 40px; font-size: 0; }
.quantity .quantity__item { display: inline-block; vertical-align: middle; margin-left: 10%; }
.quantity .quantity__item:first-child { margin-left: 0; }
.quantity .quantity__minus, .quantity .quantity__value, .quantity .quantity__plus, .quantity .quantity__title { display: inline-block; vertical-align: middle; }
.quantity .quantity__minus, .quantity .quantity__plus { width: 28px; height: 28px; border: 2px solid #d0cfcf; font-family: "ProximaNova-Bold"; font-weight: normal; font-style: normal; background: none; font-size: 16px; color: #1e1e1e; text-align: center; }
.quantity .quantity__value { margin: 0 14px; font-size: 16px; font-family: "ProximaNova-Bold"; font-weight: normal; font-style: normal; color: #1e1e1e; }
.quantity .quantity__title { padding-left: 8px; font-size: 16px; color: #7a7a7a; font-style: italic; }

.total-price { font-size: 0; margin-bottom: 40px; }
.total-price span, .total-price strong { display: inline-block; }
.total-price span { margin-right: 10px; font-size: 16px; text-transform: uppercase; color: #8f8e8e; font-family: "ProximaNova-Bold"; font-weight: normal; font-style: normal; }
.total-price strong { font-weight: normal; font-size: 24px; font-style: italic; color: #2a2a2a; }

.hint { margin-bottom: 40px; font-size: 16px; color: #8f8e8e; }

.order-btn { height: 60px; width: 290px; text-align: center; vertical-align: middle; background: #1e1e1e; color: #f5f5f7; text-transform: uppercase; font-size: 18px; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
 *{ -webkit-text-size-adjust: none; } }

@media only screen and (max-width: 1440px){
 .h2{ margin-bottom: 40px; }
 .h3{ margin-bottom: 20px; }
 .h4{ margin-bottom: 20px; }
 .header{ height: 60px; }
 .menu li{ padding: 18px 22px; }
 .buy-btn{ height: 60px; }
 .about{ padding-top: 60px; }
 .rings{ width: 80%; }
 .benefits{ padding-top: 60px; }
 .price{ padding-top: 60px; }
 .card .card__list li{ margin-bottom: 5px; }
 .card{ padding: 25px 15px; }
 .card .card__list, .card .card__params, .card .card__price{ margin-bottom: 15px; }
 .delivery{ padding-top: 60px; }
 .feedback{ padding-top: 60px; }
 .feedback .feedback__img img{ width: 400px; }
 .comments .comments__item{ font-size: 16px; }
 .comments .comments__author{ padding-top: 30px; font-size: 19px; }
 .history .history__item p{ font-size: 16px; line-height: 1.6; }
 .buy .btn-round{ width: 200px; height: 200px; margin: -109px 0 0 -92px; }
 .map{ bottom: 200px; }
 .map-popup{ top: 120px; width: 320px; }
 .footer .footer__list ul li{ margin-bottom: 25px; }
 .footer{ height: 200px; padding: 35px 0 40px; }
 .footer .footer__logo{ margin-bottom: 60px; } }

@media only screen and (max-width: 1280px){
 .h2{ font-size: 24px; margin-bottom: 30px; }
 .h3{ margin-bottom: 10px; font-size: 20px; }
 .h4{ margin-bottom: 10px; font-size: 16px; }
 .select__text{ height: 36px; line-height: 34px; }
 .select__text span{ height: 32px; }
 .header{ height: 50px; }
 .menu li{ padding: 15px 22px; }
 .buy-btn{ height: 50px; }
 .about{ padding-top: 50px; }
 .benefits{ padding-top: 50px; }
 .benefit .h4:after{ bottom: -14px; }
 .price{ padding-top: 50px; }
 .card{ padding: 10px; width: 480px; }
 .card .card__img{ width: 180px; }
 .card .card__list{ margin-bottom: 10px; }
 .card .card__list li{ font-size: 14px; }
 .card .card__params{ margin-bottom: 10px; }
 .card .card__price{ margin-bottom: 10px; font-size: 20px; }
 .delivery{ padding-top: 50px; }
 .delivery .delivery__tag:after{ bottom: -14px; }
 .feedback{ padding-top: 50px; }
 .feedback .feedback__img img{ width: 350px; }
 .buy .btn-round{ width: 180px; height: 180px; margin: -95px 0 0 -83px; }
 .map-popup{ top: 80px; font-size: 16px; }
 .footer{ padding: 35px 10px 40px; }
 .footer .footer__left{ margin-right: 5%; } }

@media only screen and (max-width: 1180px){
 .modal{ width: 90%; padding: 80px 5% 5%; }
 .modal .modal__close{ top: 20px; right: 20px; }
 .form .form__left{ margin-right: 40px; }
 .quantity .quantity__item{ display: block; margin-left: 0; margin-bottom: 20px; } }

@media only screen and (max-width: 1100px){
 .card{ width: 440px; margin-left: 5%; }
 .map-popup{ top: 50%; -webkit-transform: scale(0.7) translate(-50%, -50%); -ms-transform: scale(0.7) translate(-50%, -50%); transform: scale(0.7) translate(-50%, -50%); }
 .map-popup.is-visible{ -webkit-transform: scale(1) translate(-50%, -50%); -ms-transform: scale(1) translate(-50%, -50%); transform: scale(1) translate(-50%, -50%); } }

@media only screen and (max-width: 1024px){
 .thanks .h3{ font-size: 20px; margin-bottom: 20px; }
 .thanks .h4{ font-size: 16px; margin-bottom: 20px; }
 .thanks p{ padding-bottom: 30px; } }

@media only screen and (max-width: 1023px){
 .fp-section.fp-table, .fp-slide.fp-table{ height: auto !important; }
 .fp-tableCell{ height: auto !important; }
 .topper{ height: 100vh !important; z-index: 2; }
 .logo{ opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
 .scroll-down{ display: none; }
 .about .about__info .title{ opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
 .about .about__info .h2{ opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
 .about .about__info p{ opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
 .about{ height: auto; padding: 5% 10px; overflow: hidden; }
 .rings{ opacity: 1; -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
 .benefits{ height: auto; padding: 5% 10px; }
 .benefit:first-child{ -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); }
 .benefit:nth-child(2){ -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); }
 .benefit:nth-child(3){ -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); }
 .benefit:nth-child(4){ -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); }
 .benefit{ opacity: 1; width: 50%; margin-bottom: 50px; }
 .price{ height: auto; padding: 5% 10px; }
 .card{ opacity: 1; -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
 .delivery{ height: auto; padding: 5% 10px; }
 .delivery .delivery__list:first-child .delivery__item:first-child{ opacity: 1; -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); }
 .delivery .delivery__list:first-child .delivery__item:last-child{ opacity: 1; -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); }
 .delivery .delivery__list:nth-child(2) .delivery__item:first-child{ opacity: 1; -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); }
 .delivery .delivery__list:nth-child(2) .delivery__item:last-child{ opacity: 1; -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); }
 .feedback .title{ opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
 .feedback .feedback__img{ opacity: 1; -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
 .feedback{ height: auto; padding: 5% 10px 100px; }
 .comments{ opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
 .history .title{ opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
 .history{ height: auto; padding: 5% 10px; }
 .history .history__item{ opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); padding: 0 20px; }
 .buy .btn-round{ opacity: 1; -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
 .contacts{ height: auto; }
 .map{ position: relative; top: auto; left: auto; right: auto; bottom: auto; height: 400px; }
 .map-popup{ opacity: 1; -webkit-transform: scale(1) translate(-50%, -50%); -ms-transform: scale(1) translate(-50%, -50%); transform: scale(1) translate(-50%, -50%); }
 .footer{ position: relative; right: auto; left: auto; bottom: auto; height: auto; } }

@media only screen and (max-width: 960px){
 .card{ width: 425px; margin-left: 1%; }
 .authors .authors__labels a{ display: block; margin-left: 0; margin-bottom: 20px; } }

@media only screen and (max-width: 900px){
 .menu{ display: none; }
 .card{ width: 360px; padding: 40px 10px; }
 .card .card__list{ margin-bottom: 20px; }
 .card .card__params .select{ margin-bottom: 20px; }
 .feedback{ padding: 5% 10px 150px; }
 .feedback .feedback__img img{ width: 300px; } }

@media only screen and (max-width: 840px){
 .modal .modal__close{ right: 5%; }
 .form .form__right{ overflow: visible; }
 .form .form__left{ float: none; width: 100%; margin-bottom: 30px; }
 .order-btn-wrap{ text-align: center; }
 .quantity .quantity__item{ display: inline-block; margin-left: 10%; margin-bottom: 0; } }

@media only screen and (max-width: 768px){
 .delivery .title{ margin-bottom: 45px; }
 .form .form__row{ margin-top: 20px; } }

@media only screen and (max-width: 767px){
 .slick-dots{ right: 20px; }
 .logo-wrap{ max-width: 70%; width: 70%; }
 .rings{ width: 100%; }
 .card{ width: 480px; margin-bottom: 20px; }
 .footer{ padding: 30px 10px; }
 .footer .footer__list{ float: right; margin-right: 0; margin-left: 40px; text-align: right; }
 .footer .footer__list li{ margin-bottom: 15px; }
 .socials{ text-align: left; }
 .socials li{ margin-left: 0; margin-right: 22px; }
 .authors{ float: none; clear: both; zoom: 1; padding-top: 20px; }
 .authors:after{ content: " "; display: table; clear: both; }
 .authors .authors__labels{ float: left; margin-bottom: 0; }
 .authors .authors__labels a{ display: inline-block; margin-right: 20px; }
 .authors .copyrights{ float: right; padding-right: 0; } }

@media only screen and (max-width: 680px){
 .about .col-6{ width: 40%; }
 .about .col-6:first-child{ width: 60%; } }

@media only screen and (max-width: 640px){
 .slick-prev{ left: 50%; margin-left: -100px; }
 .slick-next{ left: 50%; margin-left: 38px; }
 .about .col-6{ width: 100%; }
 .about .col-6:first-child{ width: 100%; }
 .rings{ width: 80%; margin: 0 auto; }
 .feedback .feedback__img{ display: none; }
 .comments{ width: 100%; text-align: center; }
 .comments .comments__counter{ left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }
 .footer .footer__left{ width: 100%; }
 .footer .footer__logo{ float: left; }
 .footer .footer__list{ display: none; }
 .socials{ float: right; text-align: right; }
 .socials li{ margin-left: 22px; margin-right: 0; } }

@media only screen and (max-width: 568px){
 .modal .modal__close{ -webkit-transform: scale(0.6); -ms-transform: scale(0.6); transform: scale(0.6); top: 10px; right: 3%; }
 .quantity .quantity__item{ display: block; margin-left: 0; margin-bottom: 20px; } }

@media only screen and (max-width: 567px){
 .benefit{ width: 100%; }
 .card{ width: 100%; }
 .delivery .delivery__list{ margin-top: 0; }
 .delivery .delivery__item{ width: 100%; margin-bottom: 20px; }
 .delivery .delivery__item:first-child:after{ display: none; }
 .history .history__item{ width: 100%; }
 .history .history__item:before{ display: none; }
 .round.round_desktop{ display: none; }
 .map{ height: 500px; } }

@media only screen and (max-width: 480px){
 .map{ height: auto; }
 .map .map__canvas{ display: none; }
 .map-popup{ position: relative; width: 100%; top: auto; left: auto; -webkit-transform: scale(1) translate(0, 0); -ms-transform: scale(1) translate(0, 0); transform: scale(1) translate(0, 0); }
 .map-popup.is-visible{ -webkit-transform: scale(1) translate(0, 0); -ms-transform: scale(1) translate(0, 0); transform: scale(1) translate(0, 0); }
 .socials{ float: none; width: 100%; text-align: center; }
 .socials li{ margin-left: 0; margin: 0 11px; }
 .authors{ text-align: center; }
 .authors .authors__labels{ display: none; }
 .authors .copyrights{ float: none; text-align: center; padding-top: 40px; width: 100%; } }

@media only screen and (max-width: 414px){
 .footer .footer__logo{ float: none; width: 100%; text-align: center; margin-bottom: 20px; } }

@media print{
 html.fp-enabled, .fp-enabled body{ overflow: visible !important; height: auto !important; }
 html{ background: #fff; width: auto; height: auto; overflow: visible; }
 body{ background: #fff; font-size: 20pt; width: auto; height: auto; border: 0; margin: 0 5%; padding: 0; overflow: visible; float: none !important; }
 #fp-nav, .fp-slidesNav, .fp-controlArrow{ display: none !important; } /* Need to reduce the size of the fonts for printing */
 h1{ font-size: 28pt !important; }
 h2{ font-size: 24pt !important; }
 h3{ font-size: 22pt !important; }
 h4{ font-size: 22pt !important; font-variant: small-caps; }
 h5{ font-size: 21pt !important; }
 h6{ font-size: 20pt !important; font-style: italic; }
 .fp-section, .fp-tableCell, .slimScrollDiv, .fp-scrollable{ width: 100% !important; height: auto !important; display: block !important; position: relative; float: none !important; }
 .fp-slidesContainer{ -webkit-transform: none !important; -ms-transform: none !important; transform: none !important; -webkit-transition: none !important; transition: none !important; }
 .fp-slides, .fp-slidesContainer{ height: auto !important; width: 100% !important; float: none !important; overflow: hidden !important; }
 .fp-slides{ height: 800px !important; width: 800px !important; }
 .fp-slide{ float: none !important; width: 100% !important; position: static !important; }
 .fullpage-wrapper{ float: none !important; -webkit-transform: none !important; -ms-transform: none !important; transform: none !important; -webkit-transition: none !important; transition: none !important; position: static !important; width: auto !important; height: auto !important; left: 0 !important; top: 0 !important; margin-left: 0 !important; margin-top: 0 !important; padding: 0 !important; zoom: 1 !important; overflow: visible !important; display: block !important; text-align: left !important; }
 .fp-section, .fp-slide{ page-break-after: always !important; } }



/*# sourceMappingURL=screen.css.map */
